force-app/main/default/flows/Opportunity_Calculate_Workshop_Amount.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Set weeks 1-8 since all the workshops use those, and set weeks 9-13 to blank</description>
        <name>Set_Base_values_Anxiety_depression</name>
        <label>Set Base values - Anxiety/depression</label>
        <locationX>1018</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>$Record.Amount_Week_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Amount_Week_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varAmount9</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Amount_Week_3__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varAmount9</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Amount_Week_4__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varAmount9</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Amount_Week_5__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varAmount9</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Amount_Week_6__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varAmount9</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Amount_Week_7__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varAmount9</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Amount_Week_8__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varAmount9_1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Amount_Week_9__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Amount_Week_10__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Amount_Week_11__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Amount_Week_12__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Amount_Week_13__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Anxiety_depression_workshop_type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set weeks 1-8 since all the workshops use those, and set weeks 9-13 to blank</description>
        <name>Set_base_values_bipolarity_sales_workshop</name>
        <label>Set base values -bipolarity - sales workshop</label>
        <locationX>314</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>$Record.Amount_Week_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Amount_Week_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varAmount12</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Amount_Week_3__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varAmount12</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Amount_Week_4__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varAmount12</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Amount_Week_5__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varAmount12</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Amount_Week_6__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varAmount12</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Amount_Week_7__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varAmount12</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Amount_Week_8__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varAmount12</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Amount_Week_9__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varAmount12</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Amount_Week_10__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varAmount12</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Amount_Week_11__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varAmount12</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Amount_Week_12__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Amount_Week_13__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Bipolarity_sales_workshop_type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set weeks 1-8 since all the workshops use those, and set weeks 9-13 to blank</description>
        <name>Set_Base_values_non_bipolar</name>
        <label>Set Base values - non bipolar</label>
        <locationX>1722</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>$Record.Amount_Week_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Amount_Week_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varAmount10</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Amount_Week_3__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varAmount10</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Amount_Week_4__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varAmount10</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Amount_Week_5__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varAmount10</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Amount_Week_6__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varAmount10</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Amount_Week_7__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varAmount10</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Amount_Week_8__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varAmount10</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Amount_Week_9__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varAmount10</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Amount_Week_10__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varAmount10</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Amount_Week_11__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Amount_Week_12__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Amount_Week_13__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Non_bipolarity_sales_workshop_type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Update week 1 and 8 for in person</description>
        <name>Update_weeks_anxiety_depression_in_person</name>
        <label>Update weeks anxiety/depression in person</label>
        <locationX>1018</locationX>
        <locationY>719</locationY>
        <assignmentItems>
            <assignToReference>$Record.Amount_Week_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varAmount9</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Amount_Week_8__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varAmount9_1</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Updated week 8 and 9 for virtual</description>
        <name>Update_weeks_anxiety_depression_virtual_sales</name>
        <label>Update weeks - anxiety/depression virtual sales</label>
        <locationX>754</locationX>
        <locationY>719</locationY>
        <assignmentItems>
            <assignToReference>$Record.Amount_Week_9__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varAmount9_1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Amount_Week_8__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varAmount9</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Updated weeks 12 and 13 for virtual</description>
        <name>Update_weeks_bipolarity_in_person_sales</name>
        <label>Update weeks - bipolarity in person sales</label>
        <locationX>314</locationX>
        <locationY>719</locationY>
        <assignmentItems>
            <assignToReference>$Record.Amount_Week_12__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varam12_1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Amount_Week_13__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Amount_Week_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varAmount12</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Updated weeks 12 and 13 for virtual</description>
        <name>Update_weeks_bipolarity_virtual_sales</name>
        <label>Update weeks - bipolarity virtual sales</label>
        <locationX>50</locationX>
        <locationY>719</locationY>
        <assignmentItems>
            <assignToReference>$Record.Amount_Week_12__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varAmount12</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Amount_Week_13__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varam12_1</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Updated week 11 for virtual</description>
        <name>Update_weeks_non_bipolarity_virtual_sales</name>
        <label>Update weeks - non-bipolarity virtual sales</label>
        <locationX>1458</locationX>
        <locationY>719</locationY>
        <assignmentItems>
            <assignToReference>$Record.Amount_Week_11__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varAmount10_1</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Update week 1 and 10 for in person</description>
        <name>Update_weeks_non_bipollarity_in_person_sales</name>
        <label>Update weeks non-bipollarity in person sales</label>
        <locationX>1722</locationX>
        <locationY>719</locationY>
        <assignmentItems>
            <assignToReference>$Record.Amount_Week_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varAmount10</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Amount_Week_10__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varAmount10_1</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <description>Virtual or in person for non bipolarity sales workshop?</description>
        <name>Anxiety_depression_workshop_type</name>
        <label>Anxiety/depression workshop type?</label>
        <locationX>1018</locationX>
        <locationY>611</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Virtual_anxiety_depression</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Atelier_Reservation__r.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Atelier d’autogestion virtuel</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_weeks_anxiety_depression_virtual_sales</targetReference>
            </connector>
            <label>Virtual anxiety/depression</label>
        </rules>
        <rules>
            <name>In_person_Anxiety_Depression</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Atelier_Reservation__r.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Atelier d&apos;autogestion en présentiel</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_weeks_anxiety_depression_in_person</targetReference>
            </connector>
            <label>In-person Anxiety/Depression</label>
        </rules>
    </decisions>
    <decisions>
        <description>Virtual or in person for bipolarity sales workshop?</description>
        <name>Bipolarity_sales_workshop_type</name>
        <label>Bipolarity sales workshop type?</label>
        <locationX>314</locationX>
        <locationY>611</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Virtual_bipolarity_sales</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Atelier_Reservation__r.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Atelier d’autogestion virtuel</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_weeks_bipolarity_virtual_sales</targetReference>
            </connector>
            <label>Virtual bipolarity sales</label>
        </rules>
        <rules>
            <name>In_person_bipolarity_sales</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Atelier_Reservation__r.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Atelier d&apos;autogestion en présentiel</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_weeks_bipolarity_in_person_sales</targetReference>
            </connector>
            <label>In person bipolarity sales</label>
        </rules>
    </decisions>
    <decisions>
        <description>Virtual or in person for non bipolarity sales workshop?</description>
        <name>Non_bipolarity_sales_workshop_type</name>
        <label>Non-bipolarity sales workshop type?</label>
        <locationX>1722</locationX>
        <locationY>611</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Virtual_non_bipolarity_sales</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Atelier_Reservation__r.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Atelier d’autogestion virtuel</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_weeks_non_bipolarity_virtual_sales</targetReference>
            </connector>
            <label>Virtual non-bipolarity sales</label>
        </rules>
        <rules>
            <name>In_person_non_bipolarity_sales</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Atelier_Reservation__r.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Atelier d&apos;autogestion en présentiel</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_weeks_non_bipollarity_in_person_sales</targetReference>
            </connector>
            <label>In-person non bipolarity sales</label>
        </rules>
    </decisions>
    <decisions>
        <name>Thematique_Sales_Workshop</name>
        <label>Thematique - Sales Workshop</label>
        <locationX>1018</locationX>
        <locationY>395</locationY>
        <defaultConnector>
            <targetReference>Set_Base_values_non_bipolar</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other workshop</defaultConnectorLabel>
        <rules>
            <name>Bipolarite_Salesworkshop</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Atelier_Reservation__r.WorkshopTheme__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bipolarité</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Atelier_Reservation__r.WorkshopTheme__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bipolarity (anglais)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_base_values_bipolarity_sales_workshop</targetReference>
            </connector>
            <label>Bipolarite Salesworkshop</label>
        </rules>
        <rules>
            <name>Aniety_Depression</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Atelier_Reservation__r.WorkshopTheme__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Anxiété - cégep</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Atelier_Reservation__r.WorkshopTheme__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Anxiety - university</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Atelier_Reservation__r.WorkshopTheme__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dépression - cégep</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Atelier_Reservation__r.WorkshopTheme__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Anxiété - université</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Base_values_Anxiety_depression</targetReference>
            </connector>
            <label>Aniety/Depression</label>
        </rules>
    </decisions>
    <description>Impact Exchange - Adding Anxiety/depression workshops</description>
    <environments>Default</environments>
    <formulas>
        <name>IsNewOpportunity</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>varam12_1</name>
        <dataType>Currency</dataType>
        <expression>{!transaction.ChargentOrders__Amount__c}-{!varAmount12}*11</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>varAmount10</name>
        <dataType>Currency</dataType>
        <expression>{!transaction.ChargentOrders__Amount__c}/10</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>varAmount10_1</name>
        <dataType>Currency</dataType>
        <expression>{!transaction.ChargentOrders__Amount__c}-{!varAmount10}*9</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>varAmount12</name>
        <dataType>Currency</dataType>
        <expression>{!transaction.ChargentOrders__Amount__c}/12</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>varAmount13</name>
        <dataType>Currency</dataType>
        <expression>{!transaction.ChargentOrders__Amount__c}/13</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>varAmount9</name>
        <dataType>Currency</dataType>
        <expression>{!transaction.ChargentOrders__Amount__c}/9</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>varAmount9_1</name>
        <dataType>Currency</dataType>
        <expression>{!transaction.ChargentOrders__Amount__c}-{!varAmount10}*8</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Opportunity Calculate Workshop Amount {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity Calculate Workshop Amount</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>transaction</name>
        <label>transaction</label>
        <locationX>1018</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Thematique_Sales_Workshop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ChargentOrders__Response_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <filters>
            <field>ChargentOrders__Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Charge</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ChargentOrders__Transaction__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>892</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>transaction</targetReference>
        </connector>
        <filterFormula>({!$Record.RecordType.DeveloperName} = &apos;Autoinscription_Atelier&apos; || {!$Record.RecordType.DeveloperName} = &apos;SalesWorkshop&apos; || {!$Record.RecordType.DeveloperName} = &apos;Accompagnement_individuel_auto&apos; || {!$Record.RecordType.DeveloperName} = &apos;SalesTraining&apos;)</filterFormula>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
