force-app/main/default/flows/Opportunity_Calculate_Workshop_Amount.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_Opportunity_Record_Type</name>
        <label>Check Opportunity Record Type</label>
        <locationX>1238</locationX>
        <locationY>395</locationY>
        <defaultConnector>
            <targetReference>Opportunity_Amount_Available</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Inscription_Atelier</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SalesWorkshop</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Opportunity_Amount_Available</targetReference>
            </connector>
            <label>Inscription Atelier</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Opportunity_Amount_Available</name>
        <label>Copy 1 of Opportunity Amount Available?</label>
        <locationX>578</locationX>
        <locationY>503</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Bipolarite_Virtuel</name>
            <conditionLogic>(1 OR 3) AND 2</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Atelier_Reservation__r.WorkshopTheme__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bipolarité</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Atelier_Reservation__r.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Atelier d’autogestion virtuel</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Atelier_Reservation__r.WorkshopTheme__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bipolarity (anglais)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Update_Amount_Fields_Bipolarite_Virtuel</targetReference>
            </connector>
            <label>Copy 1 of Bipolarite Virtuel</label>
        </rules>
        <rules>
            <name>Copy_1_of_Bipolarite_Presentiel</name>
            <conditionLogic>(1 OR 3) AND 2</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Atelier_Reservation__r.WorkshopTheme__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bipolarité</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Atelier_Reservation__r.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Atelier d&apos;autogestion en présentiel</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Atelier_Reservation__r.WorkshopTheme__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bipolarity (anglais)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Update_Amount_Fields_Bipolarite_Presentiel</targetReference>
            </connector>
            <label>Copy 1 of Bipolarite Presentiel</label>
        </rules>
        <rules>
            <name>Copy_1_of_Non_Bipolarite_Virtuel</name>
            <conditionLogic>(1 OR 3) AND 2</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Atelier_Reservation__r.WorkshopTheme__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Bipolarité</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Atelier_Reservation__r.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Atelier d’autogestion virtuel</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Atelier_Reservation__r.WorkshopTheme__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Bipolarity (anglais)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Update_Amount_Fields_Non_Bipolarite_Virtuel</targetReference>
            </connector>
            <label>Copy 1 of Non Bipolarite Virtuel</label>
        </rules>
        <rules>
            <name>Copy_1_of_Non_Bipolarite_Presentiel</name>
            <conditionLogic>(1 OR 3) AND 2</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Atelier_Reservation__r.WorkshopTheme__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Bipolarité</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Atelier_Reservation__r.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Atelier d&apos;autogestion en présentiel</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Atelier_Reservation__r.WorkshopTheme__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Bipolarity (anglais)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Update_Amount_Fields_Non_Bipolarite_Presentiel</targetReference>
            </connector>
            <label>Copy 1 of Non Bipolarite Presentiel</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opportunity_Amount_Available</name>
        <label>Opportunity Amount Available?</label>
        <locationX>1898</locationX>
        <locationY>503</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Bipolarite_Virtuel</name>
            <conditionLogic>(1 OR 3) AND 2</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Atelier_Groupe__r.WorkshopTheme__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bipolarité</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Atelier_Groupe__r.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Atelier d’autogestion virtuel</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Atelier_Groupe__r.WorkshopTheme__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bipolarity (anglais)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Amount_Fields_Bipolarite_Virtuel</targetReference>
            </connector>
            <label>Bipolarite Virtuel</label>
        </rules>
        <rules>
            <name>Bipolarite_Presentiel</name>
            <conditionLogic>(1 OR 3) AND 2</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Atelier_Groupe__r.WorkshopTheme__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bipolarité</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Atelier_Groupe__r.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Atelier d&apos;autogestion en présentiel</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Atelier_Groupe__r.WorkshopTheme__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bipolarity (anglais)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Amount_Fields_Bipolarite_Presentiel</targetReference>
            </connector>
            <label>Bipolarite Presentiel</label>
        </rules>
        <rules>
            <name>Non_Bipolarite_Virtuel</name>
            <conditionLogic>(1 OR 3) AND 2</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Atelier_Groupe__r.WorkshopTheme__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Bipolarité</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Atelier_Groupe__r.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Atelier d’autogestion virtuel</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Atelier_Groupe__r.WorkshopTheme__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Bipolarity (anglais)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Amount_Fields_Non_Bipolarite_Virtuel</targetReference>
            </connector>
            <label>Non Bipolarite Virtuel</label>
        </rules>
        <rules>
            <name>Non_Bipolarite_Presentiel</name>
            <conditionLogic>(1 OR 3) AND 2</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Atelier_Groupe__r.WorkshopTheme__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Bipolarité</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Atelier_Groupe__r.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Atelier d&apos;autogestion en présentiel</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Atelier_Groupe__r.WorkshopTheme__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Bipolarity (anglais)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Amount_Fields_Non_Bipolarite_Presentiel</targetReference>
            </connector>
            <label>Non Bipolarite Presentiel</label>
        </rules>
    </decisions>
    <description>Split Inscription Atelier</description>
    <environments>Default</environments>
    <formulas>
        <name>IsNewOpportunity</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>varam12_1</name>
        <dataType>Currency</dataType>
        <expression>{!transaction.ChargentOrders__Amount__c}-{!varAmount12}*11</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>varAmount10</name>
        <dataType>Currency</dataType>
        <expression>{!transaction.ChargentOrders__Amount__c}/10</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>varAmount10_1</name>
        <dataType>Currency</dataType>
        <expression>{!transaction.ChargentOrders__Amount__c}-{!varAmount10}*9</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>varAmount12</name>
        <dataType>Currency</dataType>
        <expression>{!transaction.ChargentOrders__Amount__c}/12</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>varAmount13</name>
        <dataType>Currency</dataType>
        <expression>{!transaction.ChargentOrders__Amount__c}/13</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Opportunity Calculate Workshop Amount {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity Calculate Workshop Amount</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>transaction</name>
        <label>transaction</label>
        <locationX>1238</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Opportunity_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ChargentOrders__Response_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <filters>
            <field>ChargentOrders__Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Charge</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ChargentOrders__Transaction__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Update_Amount_Fields_Bipolarite_Presentiel</name>
        <label>Copy 1 of Update Amount Fields (Bipolarite Presentiel)</label>
        <locationX>314</locationX>
        <locationY>611</locationY>
        <inputAssignments>
            <field>Amount_Week_10__c</field>
            <value>
                <elementReference>varAmount12</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount_Week_11__c</field>
            <value>
                <elementReference>varAmount12</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount_Week_12__c</field>
            <value>
                <elementReference>varam12_1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount_Week_13__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Amount_Week_1__c</field>
            <value>
                <elementReference>varAmount12</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount_Week_2__c</field>
            <value>
                <elementReference>varAmount12</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount_Week_3__c</field>
            <value>
                <elementReference>varAmount12</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount_Week_4__c</field>
            <value>
                <elementReference>varAmount12</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount_Week_5__c</field>
            <value>
                <elementReference>varAmount12</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount_Week_6__c</field>
            <value>
                <elementReference>varAmount12</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount_Week_7__c</field>
            <value>
                <elementReference>varAmount12</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount_Week_8__c</field>
            <value>
                <elementReference>varAmount12</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount_Week_9__c</field>
            <value>
                <elementReference>varAmount12</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Update_Amount_Fields_Bipolarite_Virtuel</name>
        <label>Copy 1 of Update Amount Fields (Bipolarite Virtuel)</label>
        <locationX>50</locationX>
        <locationY>611</locationY>
        <inputAssignments>
            <field>Amount_Week_10__c</field>
            <value>
                <elementReference>varAmount12</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount_Week_11__c</field>
            <value>
                <elementReference>varAmount12</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount_Week_12__c</field>
            <value>
                <elementReference>varAmount12</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount_Week_13__c</field>
            <value>
                <elementReference>varam12_1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount_Week_1__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount_Week_2__c</field>
            <value>
                <elementReference>varAmount12</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount_Week_3__c</field>
            <value>
                <elementReference>varAmount12</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount_Week_4__c</field>
            <value>
                <elementReference>varAmount12</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount_Week_5__c</field>
            <value>
                <elementReference>varAmount12</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount_Week_6__c</field>
            <value>
                <elementReference>varAmount12</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount_Week_7__c</field>
            <value>
                <elementReference>varAmount12</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount_Week_8__c</field>
            <value>
                <elementReference>varAmount12</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount_Week_9__c</field>
            <value>
                <elementReference>varAmount12</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Update_Amount_Fields_Non_Bipolarite_Presentiel</name>
        <label>Copy 1 of Update Amount Fields (Non Bipolarite Presentiel)</label>
        <locationX>842</locationX>
        <locationY>611</locationY>
        <inputAssignments>
            <field>Amount_Week_10__c</field>
            <value>
                <elementReference>varAmount10_1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount_Week_11__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Amount_Week_12__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Amount_Week_13__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Amount_Week_1__c</field>
            <value>
                <elementReference>varAmount10</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount_Week_2__c</field>
            <value>
                <elementReference>varAmount10</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount_Week_3__c</field>
            <value>
                <elementReference>varAmount10</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount_Week_4__c</field>
            <value>
                <elementReference>varAmount10</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount_Week_5__c</field>
            <value>
                <elementReference>varAmount10</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount_Week_6__c</field>
            <value>
                <elementReference>varAmount10</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount_Week_7__c</field>
            <value>
                <elementReference>varAmount10</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount_Week_8__c</field>
            <value>
                <elementReference>varAmount10</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount_Week_9__c</field>
            <value>
                <elementReference>varAmount10</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Update_Amount_Fields_Non_Bipolarite_Virtuel</name>
        <label>Copy 1 of Update Amount Fields (Non Bipolarite Virtuel)</label>
        <locationX>578</locationX>
        <locationY>611</locationY>
        <inputAssignments>
            <field>Amount_Week_10__c</field>
            <value>
                <elementReference>varAmount10</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount_Week_11__c</field>
            <value>
                <elementReference>varAmount10_1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount_Week_12__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Amount_Week_13__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Amount_Week_1__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount_Week_2__c</field>
            <value>
                <elementReference>varAmount10</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount_Week_3__c</field>
            <value>
                <elementReference>varAmount10</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount_Week_4__c</field>
            <value>
                <elementReference>varAmount10</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount_Week_5__c</field>
            <value>
                <elementReference>varAmount10</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount_Week_6__c</field>
            <value>
                <elementReference>varAmount10</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount_Week_7__c</field>
            <value>
                <elementReference>varAmount10</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount_Week_8__c</field>
            <value>
                <elementReference>varAmount10</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount_Week_9__c</field>
            <value>
                <elementReference>varAmount10</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Amount_Fields_Bipolarite_Presentiel</name>
        <label>Update Amount Fields (Bipolarite Presentiel)</label>
        <locationX>1634</locationX>
        <locationY>611</locationY>
        <inputAssignments>
            <field>Amount_Week_10__c</field>
            <value>
                <elementReference>varAmount12</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount_Week_11__c</field>
            <value>
                <elementReference>varAmount12</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount_Week_12__c</field>
            <value>
                <elementReference>varam12_1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount_Week_13__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Amount_Week_1__c</field>
            <value>
                <elementReference>varAmount12</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount_Week_2__c</field>
            <value>
                <elementReference>varAmount12</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount_Week_3__c</field>
            <value>
                <elementReference>varAmount12</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount_Week_4__c</field>
            <value>
                <elementReference>varAmount12</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount_Week_5__c</field>
            <value>
                <elementReference>varAmount12</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount_Week_6__c</field>
            <value>
                <elementReference>varAmount12</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount_Week_7__c</field>
            <value>
                <elementReference>varAmount12</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount_Week_8__c</field>
            <value>
                <elementReference>varAmount12</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount_Week_9__c</field>
            <value>
                <elementReference>varAmount12</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Amount_Fields_Bipolarite_Virtuel</name>
        <label>Update Amount Fields (Bipolarite Virtuel)</label>
        <locationX>1370</locationX>
        <locationY>611</locationY>
        <inputAssignments>
            <field>Amount_Week_10__c</field>
            <value>
                <elementReference>varAmount12</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount_Week_11__c</field>
            <value>
                <elementReference>varAmount12</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount_Week_12__c</field>
            <value>
                <elementReference>varAmount12</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount_Week_13__c</field>
            <value>
                <elementReference>varam12_1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount_Week_1__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount_Week_2__c</field>
            <value>
                <elementReference>varAmount12</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount_Week_3__c</field>
            <value>
                <elementReference>varAmount12</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount_Week_4__c</field>
            <value>
                <elementReference>varAmount12</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount_Week_5__c</field>
            <value>
                <elementReference>varAmount12</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount_Week_6__c</field>
            <value>
                <elementReference>varAmount12</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount_Week_7__c</field>
            <value>
                <elementReference>varAmount12</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount_Week_8__c</field>
            <value>
                <elementReference>varAmount12</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount_Week_9__c</field>
            <value>
                <elementReference>varAmount12</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Amount_Fields_Non_Bipolarite_Presentiel</name>
        <label>Update Amount Fields (Non Bipolarite Presentiel)</label>
        <locationX>2162</locationX>
        <locationY>611</locationY>
        <inputAssignments>
            <field>Amount_Week_10__c</field>
            <value>
                <elementReference>varAmount10_1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount_Week_11__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Amount_Week_12__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Amount_Week_13__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Amount_Week_1__c</field>
            <value>
                <elementReference>varAmount10</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount_Week_2__c</field>
            <value>
                <elementReference>varAmount10</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount_Week_3__c</field>
            <value>
                <elementReference>varAmount10</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount_Week_4__c</field>
            <value>
                <elementReference>varAmount10</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount_Week_5__c</field>
            <value>
                <elementReference>varAmount10</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount_Week_6__c</field>
            <value>
                <elementReference>varAmount10</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount_Week_7__c</field>
            <value>
                <elementReference>varAmount10</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount_Week_8__c</field>
            <value>
                <elementReference>varAmount10</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount_Week_9__c</field>
            <value>
                <elementReference>varAmount10</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Amount_Fields_Non_Bipolarite_Virtuel</name>
        <label>Update Amount Fields (Non Bipolarite Virtuel)</label>
        <locationX>1898</locationX>
        <locationY>611</locationY>
        <inputAssignments>
            <field>Amount_Week_10__c</field>
            <value>
                <elementReference>varAmount10</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount_Week_11__c</field>
            <value>
                <elementReference>varAmount10_1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount_Week_12__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Amount_Week_13__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Amount_Week_1__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount_Week_2__c</field>
            <value>
                <elementReference>varAmount10</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount_Week_3__c</field>
            <value>
                <elementReference>varAmount10</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount_Week_4__c</field>
            <value>
                <elementReference>varAmount10</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount_Week_5__c</field>
            <value>
                <elementReference>varAmount10</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount_Week_6__c</field>
            <value>
                <elementReference>varAmount10</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount_Week_7__c</field>
            <value>
                <elementReference>varAmount10</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount_Week_8__c</field>
            <value>
                <elementReference>varAmount10</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount_Week_9__c</field>
            <value>
                <elementReference>varAmount10</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1112</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>transaction</targetReference>
        </connector>
        <filterFormula>({!$Record.RecordType.DeveloperName} = &apos;Autoinscription_Atelier&apos; || {!$Record.RecordType.DeveloperName} = &apos;SalesWorkshop&apos; || {!$Record.RecordType.DeveloperName} = &apos;Accompagnement_individuel_auto&apos; || {!$Record.RecordType.DeveloperName} = &apos;SalesTraining&apos;)</filterFormula>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
